<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @source.type %>
</p>

<p>
  <strong>Artifact:</strong>
  <%= @source.artifact_id %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
