<%= form_for(artifact_filter) do |f| %>
  <% if artifact_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artifact_filter.errors.count, "error") %> prohibited this artifact_filter from being saved:</h2>

      <ul>
      <% artifact_filter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_id %>
    <%= f.number_field :application_id %>
  </div>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
