<%= form_for(source_vc) do |f| %>
  <% if source_vc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source_vc.errors.count, "error") %> prohibited this source_vc from being saved:</h2>

      <ul>
      <% source_vc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repository_id %>
    <%= f.number_field :repository_id %>
  </div>

  <div class="field">
    <%= f.label :branch %>
    <%= f.text_field :branch %>
  </div>

  <div class="field">
    <%= f.label :tag %>
    <%= f.text_field :tag %>
  </div>

  <div class="field">
    <%= f.label :revision %>
    <%= f.text_field :revision %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
