<p id="notice"><%= notice %></p>

<p>
  <strong>Repository:</strong>
  <%= @source_vc.repository_id %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @source_vc.branch %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @source_vc.tag %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @source_vc.revision %>
</p>

<%= link_to 'Edit', edit_source_vc_path(@source_vc) %> |
<%= link_to 'Back', source_vcs_path %>
