<%= form_for(user_application) do |f| %>
  <% if user_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_application.errors.count, "error") %> prohibited this user_application from being saved:</h2>

      <ul>
      <% user_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :application_id %>
    <%= f.text_field :application_id %>
  </div>

  <div class="field">
    <%= f.label :environment_spec %>
    <%= f.text_area :environment_spec %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
