<p id="notice"><%= notice %></p>

<h1>User Applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Application</th>
      <th>Environment spec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_applications.each do |user_application| %>
      <tr>
        <td><%= user_application.user_id %></td>
        <td><%= user_application.application_id %></td>
        <td><%= user_application.environment_spec %></td>
        <td><%= link_to 'Show', user_application %></td>
        <td><%= link_to 'Edit', edit_user_application_path(user_application) %></td>
        <td><%= link_to 'Destroy', user_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Application', new_user_application_path %>
